canvas {
    border: 1px solid #000;
}

#resultDisplay {
    max-width: 400px; /* Set a maximum width for the result display */
    margin: 20px 0;
}

/* Style the canvas container to control its size */
#chartContainer {
    max-width: 400px; /* Set a maximum width for the chart container */
    max-height: 200px; /* Set a maximum height for the chart container */
}

body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}

#chartContainer {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}